@media only screen and (min-width: 0rem) {
    button:hover {
        cursor: pointer;
    }

    .next_button {
        border: none;
        width: fit-content;
        height: 100%;
        background: var(--clr-primary-blue950);
        color: var(--clr-white);
        padding: .75rem 1.5rem;
        border-radius: .34rem;
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
    }

    .next_button:hover {
        background: rgb(from var(--clr-primary-blue950) r g b / .75);
    }

    .previous_button {
        border: none;
        width: fit-content;
        height: 100%;
        background: none;
        color: var(--clr-neutral-grey500);
        padding: .75rem 1.5rem;
        border-radius: .34rem;
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
    }

    .previous_button:hover {
        color: var(--clr-primary-blue950);
    }

    .confirm {
        background: var(--clr-primary-purple600);
    }
}

@media only screen and (min-width: 48rem) {

}