@media only screen and (min-width: 0rem) {
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-block: 4rem;
    }

    .img_container {
        width: 54px;
        height: 54px;
        margin-bottom: 1.5rem;
    }

    .img_container img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content_title {
        margin-bottom: 1rem;
    }

    .content_text {
        width: 96%;
    }
}

@media only screen and (min-width: 48rem) {
    .content {
        padding-block: 0;
    }

    .content_text {
        width: 94%;
    }
}