@media only screen and (min-width: 0rem) {
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }

    /* .content_title {
        margin-bottom: 0;
    } */

    .content_text {
        margin-bottom: 1rem;
    }

    .content_form {
        display: inherit;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .field_wrapper {
        display: inherit;
        flex-direction: column;
    }

    .field_wrapper label {
        font-size: 1rem;
        font-weight: 400;
        color: var(--clr-primary-blue950);
        text-transform: capitalize;
    }

    .field_wrapper input {
        padding: .5rem;
        font-size: 1rem;
    }

    .field_wrapper input:focus {
        outline: none;
        border: 2px solid var(--clr-primary-purple600);
    }

    .error {
        outline: none;
        border: 2px solid var(--clr-primary-red500);
    }

    .error_text {
        font-size: 1rem;
        font-weight: 500;
        color: var(--clr-primary-red500);
    }
}

@media only screen and (min-width: 48rem) {

}