@media only screen and (min-width: 0rem) {
    .section_container {
        height: var(--form-field-height-mobile);
    }
}

@media only screen and (min-width: 48rem) {
    .section_container {
        height: var(--form-field-height-desktop);
    }
}